body {
	color: ##95a29b;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

h1 {
	font-family: "Arvo";
	font-size: 48px;
}

h2 {

}

h3 {
	font-size: 24px;
}

a {
	color: #3a483f;
}

div {
	display: block;
}

#logo {
	width: 50px;
	border: 2px solid black;
}

.user {
	width: 110px;
}

.teaser-content {
	border: 2px solid green;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 20px;
	padding: 40px;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
	text-align: center;
	}

#teaser {
	margin-top: 50px;
	padding-top: 100px;
	background-image: url("https://res.cloudinary.com/zipjet/image/upload/v1443537350/top-section-bg-2b_olejmc.jpg");
}

#users {
	margin: 10px;
	border: 2px solid green;
	text-align: left;
}

.zipsearch{
	border: 2px solid blue;
}

#apps {
	background-color: rgba(53,51, 50, 0.8);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px; 
}

.badges {
	width: 150px;
}


.navbar {
	background-color: white;
}

#press {
	background-color: #F9F9F9;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#press img {
	width: 100px;
}

img:hover {
	opacity: 0.8;
}

#how-it-works {
	border: 2px solid red;
}


.sub-heading {
	display: block;
	font-weight: normal;
}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}

#value-prop {
	text-align: center;
}