body {
	color: #95a29b;
	font-family: "Lato", sans-serif;
	text-align: center;
	font-size: 16px;
}

h1 {
	font-family: "Arvo";
	font-size: 48px;
}

h2 {
	font-family: "Arvo";
	font-size: 36px;
	color: #3a483f;
}

h3 {
	font-size: 24px;
}

a {
	color: #3a483f;
}

div {
	display: block;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: auto;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
	border: 1px solid #ddd;
}

.row [class^="col-"] {
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
	}  <!-- pour visulaiser grid bootstrap -->


	#logo {
		width: 50px;
		border: 2px solid black;
	}

	.navbar-default {
		background:transparent;
		border-color: transparent;
		padding-right: 50px;
	}

	.navbar-default .navbar-brand {
		color: #fff;
	}

	.navbar-default .navbar-nav>li>a {
		color: #fff;
	}

	.teaser-content {
		padding: 40px;
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 80px;
		color: white;
	}

	#teaser {	
		padding-top: 100px;
		background: url("https://res.cloudinary.com/zipjet/image/upload/v1443537350/top-section-bg-2b_olejmc.jpg") 
		no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	#teaser-title {
		margin-bottom: 25px;
	}

	#users {
		border: 2px solid green;
	}

	.user {
		width: 110px;
	}

	.content {
		vertical-align: middle;
	}

	#apps {
		padding-top: 10px;
		padding-bottom: 10px; 
		background-color: rgba(0, 0, 0, 0.6);
	}

	.badges {
		height: 50px;
	}

	#press {
		background-color: #F9F9F9;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#press img {
		width: 100%;
		height: 50px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.vcenter {
		display: inline-block;
		vertical-align: middle;
	}

	img:hover {
		opacity: 0.8;
	}

	#how-it-works {
		border: 2px solid red;
	}

	#how-it-works h3 {
		color: #3a483f;
	} 

	.sub-heading {
		display: block;
		font-weight: normal;
	}

	iframe:focus { 
		outline: none;
	}

	iframe[seamless] { 
		display: block;
	}

	#value-prop {
		text-align: center;
		margin-top: 10px;
		height: auto;
	}

	#intro-video {
		margin-top: 10px;
		padding: 10px;
		border: 2px solid green;

	}

	.perks {
		border: 2px solid grey;
	}

	.perks-text {

	}

	.img-icon {
		border: 2px solid black;
		height: 100px;
	}

	.videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		max-height: 400px;
	}

	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.footer {	
		background-color: #0d2c33;
		color: white;
		text-align: center;
	}

	.footer a {
		color: white;
	}

	.footer	ul li {
		display: inline-block;
	}

	.f1 {
		display: table-row;
	}

	.f2 {
		display: table-cell;
	}

	.disclaimer {
		padding-top: 20px;
	}